<!-- topnavbar -->
<div class="topnav shadow p-1">
  <a>Andreas Dashboard</a>
</div>
<!-- topnavbar -->

<!-- left sidebar nav  -->

<div class="sidebar shadow p-2">
  <ul>
    <li><a routerLink=""><i class="bi bi-house"></i> Home</a></li>
    <li><a routerLink="/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
    <li><a routerLink="/crud"><i class="bi bi-card-text"></i> CRUD</a></li>
  </ul>
</div>
<!-- left sidebar nav  -->


<!-- main content  -->

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- main content  -->


<!-- footer -->
<div class="footer shadow p-1">
  <a>this is footer</a>
</div>
<!-- footer -->